<section class="accordion">
    <h2>Preguntas Frecuentes</h2>
    <h3 class="accordion-title ">costos de envío y plazos de entrega</h3>
    <div class="accordion-content">
        <p>
            Realizando tu compra mediante nuestra página web, enviamos tu producto a domicilio en todo el país. Podes calcular el costo de envío y los plazos de entrega simulando la operación, luego de seleccionar los productos en tu carrito. Ingresando tu código
            postal te indicará la información necesaria para que puedas finalizar la compra coordinando el envío. VER DETALLE
        </p>
        <p>
            Para CABA y GBA el envío es GRATIS en compras mayores a $8.000, y para el interior el envío es GRATIS si la compra supera los $18.000.
        </p>
    </div>
    <h3 class="accordion-title">Formas de pago</h3>
    <div class="accordion-content">
        <p>
            Cuando abonas tu compra en nuestro sitio web, lo hacés a través de Mercado Pago, con Tarjeta de Crédito y Débito (Visa, American Express, Mastercard, Tarjeta Naranja, Cabal) o via MODO.
        </p>
        <p>
            -Abonando con TARJETA DE CRÉDITO, podrás seleccionar la opción de pago de: 3 cuotas sin interés para compras superiores a $3000 y 6 cuotas sin interés en compras superiores a $20.000.
        </p>
        <p>
            Las compras en 12 cuotas tienen un 25% de interés.
        </p>
        <p>
            Además podrás aprovechar las promociones vigentes con tarjetas de crédito según acuerdo bancario.
        </p>
        <p>
            -Abonando a través de MERCADOPAGO podrás abonar tanto a través de tarjeta de débito, crédito o Mercado Crédito. A través de este medio de pago podrás abonar en 3 cuotas sin interés y podrás seleccionar la opción de pago con dos tarjetas.(NO incluye nuestras
            promociones bancarias)
        </p>
    </div>
    <h3 class="accordion-title">Promociones bancarias</h3>
    <div class="accordion-content">
        <p>
            Las promociones bancarias se encuentran vigentes según convenio realizado con cada entidad financiera respetando las clausulas y condiciones legales que las entidades definen.
        </p>
        <p>
            Podrás acceder de las siguientes maneras:
        </p>
        <ul>
            <li>Tienda online: www.jugueteriacosmica.com.ar</li>
            <li>Presencial en nuestro local</li>
            <li>Venta telefónica: poniéndote en contacto, siempre y cuando la promoción se encuentre habilitada para este tipo de operación.</li>
        </ul>
        <p>
            Ante mayor información, consultar los legales en la página del banco correspondiente
        </p>
    </div>
    <h3 class="accordion-title ">¿Como comprar?</h3>
    <div class="accordion-content">
        <p>
            Seleccioná el producto que querés comprar. Hacé clic en el botón “Comprar”; esto agregará el producto a tu carrito de compras virtual. Podrás seguir agregando otros productos al carrito o iniciar la compra haciendo clic en el botón “Finalizar Compra”.
            Revisá que tu orden sea la deseada, y seleccioná el método de envío (envío a domicilio, prioritario o retiro). Clickeá Finalizá Compra y podrás completar tus datos de envío y facturación, así como aplicar un Voucher de Descuento, en
            caso de que lo poseas. Es importante que completes toda la información solicitada para que se pueda proceder correctamente a la facturación de tu compra.
        </p>
        <p>
            Una vez que completes toda tu información personal, vas a poder abonar a través de DECIDIR, Mercado Pago o MODO.
        </p>
        <p>
            Al finalizar el pago, recibirás un mail de confirmación con el detalle de tu orden y número de compra. En caso de no haber recibido ningún mail, aseguráte de que el pago haya impactado en el banco y si la compra fue realizada efectivamente realiza el
            reclamo enviando un mail a reclamos@jugueteriacosmica.com.ar
        </p>
    </div>
    <h3 class="accordion-title">¿como retirar mi compra?</h3>
    <div class="accordion-content">
        <p>
            Tu compra estará habilitada en un plazo de 48 a 72 hs para que puedas retirarla. Podrá retirar el pedido por el mostrador el titular de la compra indicando a nuestros vendedores su número de orden y presentando su DNI. En caso de retirar otra persona,
            completar los datos correspondientes durante el proceso de checkout, y una vez en el mostrador, presentar fotocopia del DNI de la persona que realizó la compra, y nota firmada por el titular de la misma. Por cualquier inconveniente
            podés escribirnos a consultas@jugueteriacosmica.com.ar. Recomendamos no pasar a retirar el producto hasta no cumplirse el plazo indicado o previa comunicación de la empresa.
        </p>
    </div>
    <h3 class="accordion-title">¿Puedo cambiar el producto o devolver la compra?</h3>
    <div class="accordion-content">
        <p>
            El consumidor tiene derecho a revocar la presente operación comercial durante el plazo de 10 (DIEZ) días corridos, contados a partir de la fecha en que se entregue la cosa o se celebre el contrato, lo último que ocurra, sin responsabilidad alguna. Esta
            facultad no puede ser dispensada ni renunciada. El vendedor debe informar por escrito al consumidor de esta facultad de revocación en todo documento que con motivo de venta le sea presentado al consumidor. Tal información debe ser
            incluida en forma clara y notoria. El consumidor debe poner el bien a disposición del vendedor y los gastos de devolución son por cuenta de este último.
        </p>
        <p>
            Los cambios o devoluciones pueden realizarse en cualquier día y horario de atención al público. En el caso de productos no perecederos tales devoluciones o cambios podrán efectuarse dentro de los treinta (30) días corridos posteriores a la operación,
            salvo que el comercio establezca un plazo mayor.
        </p>
        <p>El cliente deberá de presentar documentación oficial que acredite la compra en el sitio web</p>
    </div>
    <h3 class="accordion-title">¿Los productos tienen garantía?</h3>
    <div class="accordion-content">
        <p>
            Sí, todos los productos cuentan con una garantía legal de 6 meses a partir del momento en que es entregado el producto. Para efectos de la garantía, deberá presentarse la factura o el número de cambio que se encuentra al pie de la factura en cualquiera
            de las sucursales habilitadas. La garantía no cubre la falla del producto por mal uso o uso indebido y que no corresponda con lo que se especifica en las instrucciones y advertencias de uso de cada producto. Deberá entregar el packaging
            (empaque) original del producto.
        </p>
        <p>En caso de corresponder la empresa asumirá el costo de envío. </p>
    </div>
</section>