<h2>Dejenos su consulta y nos contactaremos a la brevedad</h2>
<form class="form-contact" action="">
    <label for="nameContact">* Nombre:</label>
    <input type="text" name="nameContact" id="nameContact" required minlength="2" maxlength="70" autofocus >
    <label for="mailContact">
        * e-mail:</label>
    <input type="email" name="mailContact" id="mailContact" required>
    <label for="commentsContact">* Comentario:</label>
    <textarea name="commentsContact" id="commentsContact" cols="30" rows="10" required minlength="10" maxlength="300"></textarea>

    <input type="submit" value="Enviar">
</form>