<h1>Alta de Productos</h1>

<h2>Complete los datos del producto</h2>
<form class="form-create">
    <div class="label name">
        <label for="name">* Nombre: (Obligtorio)</label>
        <input type="text" minlength="2" maxlength="70" autofocus required placeholder="Escriba Nombre del Producto"
                class="data-required" name="name" id="name">
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe ingresar un nombre al producto entre 2 y 70 caracteres.</span>
    </div>
    <div class="label price">
        <label for="price">* Precio: (Obligtorio)</label>
        <input type="number" min="0" class="data-required" required name="price" id="price">
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe ingresar el importe con números positívos.</span>
    </div>
    <div class="label stock">
        <label for="stock">* Cantidad: (Obligatorio)</label>
        <input type="number"  required min="0" class="data-required" name="stock" id="stock">
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe ingresar el stock con números positívos.</span>
    </div>
    <div class="label brand">
        <label for="brand">* Marca: (Obligatorio)
        <input list="brand" name="brand" class="data-required" placeholder="Seleccione una Marca"></label>
        <datalist  id="brand" >
            <option value="LEGO">
                <option value="Barbie">
                <option value="Nintendo">
                <option value="Hot Wheels">
                <option value="Playmobil">
                <option value="PlayStation">
                <option value="Mattel">
                <option value="Xbox">
                <option value="Hasbro">
                <option value="Nintendo Switch">
                <option value="Fisher-Price">
                <option value="Sony">
                <option value="Sega">
                <option value="Nerf">
                <option value="Xiaomi">
                <option value="Funko">
                <option value="Minecraft">
                <option value="Transformers">
                <option value="Ubisoft">
                <option value="Disney">
                <option value="Microsoft">
                <option value="SQUARE ENIX">
                <option value="Mega Bloks">
                <option value="Skylanders">
                <option value="Bandai Namco">
                <option value="Playskool">
                <option value="Play-Doh">
                <option value="Electronic Arts">
                <option value="Niantic">
        </datalist>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe seleccionar una marca.</span>
    </div>
    <div class="label category">
        <label for="category">* Categoría: (Obligatorio)
        <input list="category"  name="category" class="data-required"placeholder="Seleccione una Marca"></label>
        <datalist id="category">
            <option value="Acción">
                <option value="Aventura">
                <option value="Estrategia">
                <option value="Puzzle">
                <option value="Deportes">
                <option value="Educacional">
                <option value="Robots">
                <option value="Muñecas">
                <option value="Construcción">
                <option value="Figuras coleccionables">
                <option value="Vehículos">
                <option value="Electrónicos">
                <option value="Realidad Virtual">
                <option value="Fantasía">
                <option value="Ciencia ficción">
                <option value="Superhéroes">
                <option value="Música">
                <option value="Baile">
                <option value="Simulación">
                <option value="Animales y Mascotas">
                <option value="Juegos de Mesa">
                <option value="Juegos de Cartas">
                <option value="Arte y Manualidades">
                <option value="Peluches">
                <option value="Cocina y Comida">
                <option value="Instrumentos Musicales">
                <option value="Ciencia y Descubrimiento">
                <option value="Puzzles 3D">
        </datalist>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe seleccionar una categoría.</span>
    </div>
    <div class="label shortDescription">
        <label for="shortDescription">* Descripción Corta: (Obligatorio)</label>
        <textarea name="shortDescription" id="shortDescription" cols="30" rows="3" required minlength="10"        
                    maxlength="200" class="data-required"></textarea>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe escribir una descripción corta entre 10 y 200 caracteres.</span>
    </div>
    <div class="label longDescription">
        <label for="longDescription">* Descripción: (Obligatorio)</label>
        <textarea name="longDescription" id="longDescription" cols="30" rows="6" required minlength="10" 
                    maxlength="2000" class="data-required"></textarea>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe escribir una descripción entre 10 y 2000 caracteres.</span>
    </div>
    <div class="checked-container">
        <label for="freeShipping"><i class="material-symbols-outlined checked-btn">indeterminate_check_box</i> 
                Envío sin cargo
        </label>
        <input type="checkbox" name="freeShipping" id="freeShipping">
    </div>
    <h3>Edades</h3>
    <div class="form-age">
        <div class="label">
            <label for="rangeUnit">Rango: </label>
            <select name="rangeUnit" id="rangeUnit">
                <option value="años">Años</option>
                <option value="meses">Meses</option>
            </select>
            <span class="">Seleccione si el rango es entre años o meses.</span>
        </div>
        <div class="label ageFrom">
            <label for="ageFrom">* Desde:</label>
            <input type="number" name="ageFrom" id="ageFrom" required min="0" max="100" class="data-required">
            <i class="material-symbols-outlined"></i>
            <span class="d-none">Debe escribir un número del 0 al 100 (sin decimales).</span>
        </div>
        <div class="label ageUpTo">
            <label for="ageUpTo">* Hasta:</label>
            <input type="number" name="ageUpTo" id="ageUpTo" required min="0" max="100" class="data-required">
            <i class="material-symbols-outlined"></i>
            <span class="d-none">Debe escribir un número del 0 al 100 (sin decimales).</span>
        </div>
    </div>
    <div class="btns-form">
        <label class="btn-photo-toy" for="mainPhoto">--- Cargue una imagen ---</label>
        <input type="file" accept="image/*" name="mainPhoto" id="mainPhoto" required class="data-required">
        <input class="btn_send disabled" value="Enviar">
    </div>
</form>
<div class="products-table-container"></div>
