<h1>Alta de Productos</h1>
<h2>Complete los datos del producto</h2>
<form action="" class="form-create">
    <div class="label nameToy">
        <label for="nameToy">* Nombre: (Obligtorio)</label>
        <input type="text" minlength="2" maxlength="70" autofocus required placeholder="Escriba Nombre del Producto"
                class="data-required" name="nameToy" id="nameToy">
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe ingresar un nombre al producto entre 2 y 70 caracteres.</span>
    </div>
    <div class="label priceToy">
        <label for="priceToy">* Precio: (Obligtorio)</label>
        <input type="number" min="0" class="data-required" required name="priceToy" id="priceToy">
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe ingresar el importe con números positívos.</span>
    </div>
    <div class="label stockToy">
        <label for="stockToy">* Cantidad: (Obligatorio)</label>
        <input type="number"  required min="0" class="data-required" name="stockToy" id="stockToy">
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe ingresar el stock con números positívos.</span>
    </div>
    <div class="label brandToy">
        <label for="brandToy">* Marca: (Obligatorio)
        <input list="brandToy" name="brandToy" class="data-required" placeholder="Seleccione una Marca"></label>
        <datalist  id="brandToy" >
            <option value="BANDAI">
            <option value="HASBRO">
            <option value="MATTEL">
            <option value="STEAM">
            <option value="PLAYSTATION">
            <option value="MICROSOFT">
            <option value="RUIBAL">
            <option value="Ipa´s">
            <option value="Pandora">
            <option value="1Buró">
        </datalist>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe seleccionar una marca.</span>
    </div>
    <div class="label categoryToy">
        <label for="categoryToy">* Categoría: (Obligatorio)
        <input list="categoryToy"  name="categoryToy" class="data-required"placeholder="Seleccione una Marca"></label>
        <datalist id="categoryToy">
            <option value="Figuras de acción">
            <option value="electrónica">
            <option value="Video Games">
            <option value="Juegos de Mesa">
            <option value="Pistas y vehículos">
            <option value="Rodados">
            <option value="Libros y comics">
            <option value="Ladrillos y Bloques">
            <option value="Didácticos">
            <option value="Disfraces">
        </datalist>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe seleccionar una categoría.</span>
    </div>
    <div class="label shortDescriptionToy">
        <label for="shortDescriptionToy">* Descripción Corta: (Obligatorio)</label>
        <textarea name="shortDescriptionToy" id="shortDescriptionToy" cols="30" rows="3" required minlength="10"        
                    maxlength="200" class="data-required"></textarea>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe escribir una descripción corta entre 10 y 200 caracteres.</span>
    </div>
    <div class="label longDescriptionToy">
        <label for="longDescriptionToy">* Descripción: (Obligatorio)</label>
        <textarea name="longDescriptionToy" id="longDescriptionToy" cols="30" rows="6" required minlength="10" 
                    maxlength="2000" class="data-required"></textarea>
        <i class="material-symbols-outlined"></i>
        <span class="d-none">Debe escribir una descripción entre 10 y 2000 caracteres.</span>
    </div>
    <div class="checked-container">
        <label for="freeShippingToy"><i class="material-symbols-outlined checked-btn">indeterminate_check_box</i> 
                Envío sin cargo
        </label>
        <input type="checkbox" name="freeShippingToy" id="freeShippingToy">
    </div>
    <h3>Edades</h3>
    <div class="form-age">
        <div class="label">
            <label for="rangeAge">Rango: </label>
            <select name="rangeAge" id="rangeAge">
                <option value="2">Años</option>
                <option value="1">Meses</option>
            </select>
            <span class="">Seleccione si el rango es entre años o meses.</span>
        </div>
        <div class="label ageFromToy">
            <label for="ageFromToy">* Desde:</label>
            <input type="number" name="ageFromToy" id="ageFromToy" required min="0" max="100" class="data-required">
            <i class="material-symbols-outlined"></i>
            <span class="d-none">Debe escribir un número del 0 al 100 (sin decimales).</span>
        </div>
        <div class="label ageUpToy">
            <label for="ageUpToy">* Hasta:</label>
            <input type="number" name="ageUpToy" id="ageUpToy" required min="0" max="100" class="data-required">
            <i class="material-symbols-outlined"></i>
            <span class="d-none">Debe escribir un número del 0 al 100 (sin decimales).</span>
        </div>
    </div>
    <div class="btns-form">
        <label class="btn-photo-toy" for="mainPhotoToy">--- Cargue una imagen ---</label>
        <input type="file" accept="image/*" name="mainPhotoToy" id="mainPhotoToy" required class="data-required">
        <input class="btn_send disabled" type="submit" value="Enviar">
    </div>
</form>
